<!-- STYLES -->
<style>
  #about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
  }

  #about .about-image {
    flex: 1;
    max-width: 50%;
  }

  #about .about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  #about .about-text {
    flex: 2;
    text-align: justify;
    margin-left: 15%;
  }
</style>

<!-- HTML -->
<section id="about" class="section">
  <div class="about-image">
    <img src="/assets/images/Vector Smart Object copy 4.png" alt="Rain Dog Walkin'" />
  </div>
  <div class="about-text">
    <h2 class="section-title">About Rain Dog Wines</h2>
    <p class="section-text">Rain Dog is some of the finest wine in the high desert. Low sulfites, low intervention -
      the way God intended. This Snake River Valley Viognier has distinct aromatics and vibrant acidity due to the
      vineyards significant diurnal temperature shifts. It’s fermented in stainless steel to keep it crisp and
      refreshing. All that to say, it’s good wine for drinkin’. </p>

    <p class="subtitle">Inside a broken clock, splashing the wine with all the Rain Dogs. Taxi,
      we'd rather walk. Huddle a doorway with the Rain Dogs for I am a Rain Dog, too.</p>
  </div>
</section>