<!-- STYLES -->
<style>
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--dark);
  }

  .footer-text {
    font-size: 1rem;
    color: var(--text-light);
    text-align: left;
  }

  #footer .social-image {
    max-height: 150px;
    width: auto;
  }

  #footer .btn {
    color: var(--text-light);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
  }

  #footer .btn:hover {
    color: var(--primary);
  }

  #footer .section-text {
    font-size: 1rem;
    margin-top: auto;
    color: var(--text-light);
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 50%;
  }

  #footer .section {
    align-items: flex-end;
  }

  /* Mobile-specific styles */
  @media (max-width: 768px) {
    #footer {
      flex-direction: column;
    }

    .footer-links {
      order: 1;
      align-items: end;
      margin-bottom: 20px;
    }

    .footer-text {
      order: 2;
      text-align: center;
      margin-top: 20%;
      font-size: 0.5rem;
    }
  }
</style>

<!-- HTML -->
<section id="footer" class="section">
  <div class="footer-text">
    <p class="section-text">By using this website and/or making purchases here, you verify that you are
      21 years of age or older as of <span id="current-date"></span></p>
    <p class="section-text">© 2026 Rain Dog Wines. All rights reserved</p>
  </div>
  <div class="footer-links">
    <p class="title">Rain Dog Wines</p>
    <p style="margin-top: 0%;" class="subtitle">Good wine for drinkin'</p>
    <a href="https://www.instagram.com/raindogwines" target="_blank"
      class="btn btn-primary primary-btn-text">Instagram</a>
    <a href="https://www.privacypolicies.com/live/b92496f7-2bee-b35d-0cbe14d5183e" target="_blank"
      class="btn btn-primary primary-btn-text">Privacy Policy</a>
    <a href="https://www.instagram.com/raindogwines" target="_blank" class="btn btn-primary primary-btn-text">Terms</a>
  </div>
</section>