<!-- STYLES -->
<style>
  #footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark);
  }

  #footer .social-image {
    max-height: 150px;
    /* Adjust the size of the image */
    width: auto;
  }

  #footer .btn {
    color: var(--text-light);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
  }

  #footer .btn:hover {
    color: var(--primary);
    /* Add a hover effect */
  }

  #footer .section-text {
    /* display: flex; */
    /* line-height: 1.6; */
    font-size: 1rem;
    margin-top: auto;
    /* align-items: end; */
    /* align-self: flex-end; */
    /* justify-content: end; */
    /* justify-items: end; */
    color: var(--text-light);
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  #footer .section {
    align-items: flex-end;
  }
</style>
<!-- HTML -->
<section id="footer" class="section">
  <div>
    <!-- <img src="/assets/images/word+head+slogan-light.png" alt="Small Left Image" class="social-image"> -->
    <div class="footer-text">
      <p class="section-text">© 2026 Rain Dog Wines. All rights reserved</p>
      <p class="section-text">By using this website and/or making purchases here, you verify that you are
        21 years of age or older as of <span id="current-date"></span></p>
    </div>
  </div>
  <div class="footer-links">
    <p class="title">Rain Dog Wines</p>
    <p style="margin-top: 0%;" class="subtitle">Good wine for drinkin'</p>
    <a href="https://www.instagram.com/raindogwines" target="_blank" class="btn btn-primary primary-btn-text"> Instagram
    </a>
    <a href="https://www.privacypolicies.com/live/b92496f7-2bee-4ebe-b35d-0cbe14d5183e" target="_blank"
      class="btn btn-primary primary-btn-text"> Privacy
      Policy
    </a>
    <a href="https://www.instagram.com/raindogwines" target="_blank" class="btn btn-primary primary-btn-text"> Terms
    </a>
  </div>
</section>